@import "bootstrap/bootstrap.less";
@import "variables.less";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
/*mixins*/
.all-center {
    display: flex;
    align-items:center;     
}
/*mixins*/

body {
	font-size:@font-size-base;
	color:#395e66;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1130px;
}

.social {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    padding: 0px !important;
    margin:0 10px;
    transition: background-color .3s ease;
    .all-center !important;
    font-size: 0.75em;
}



.btn-default {
	width: 150px;
	height:50px;
	border:none;
	font-weight: 600;
	border-radius: 1px;
	width: 210px;
	color:#fff;
	background-color: @btn-primary-bg;
	transition:border .3s, color .3s, background-color .3s;
}

.btn-default:hover {
	box-sizing: border-box;
	border:2px solid @btn-primary-bg;
	border-radius: 1px;
	color:@btn-primary-bg;
	background-color: #fff;
}

.dots {
	margin: 30px auto;
	display: flex;
	flex-flow:column;
	align-items:center;
	justify-content:space-around;
	width: 10px;
	height:30px;
	span {
		margin: 0 3px;
		display: inline-block;
		background-color: @brand-primary;
		width: 1px;
		height: 1px;
	}
}

.section-caption {
	.all-center;
	justify-content:space-around;
	flex-flow:column;
	width: 100%;
	text-align: center;
	h2 {
		font-weight: 700;
		font-size:1.625em;
		margin: 0;
        letter-spacing: 0.05em;
	}
	p {
		margin: 20px 0;
		color: #9f9f9f;
		font-size: 1em;
	}
	.decoration-t {
		margin: 40px 0px;
		display: block;
		box-sizing: border-box;
		width: 80px;
		height: 25px;
		border-top: 0.5px dashed #395e66;
		.bord {
			display: block;
			width: 50%;
			height: 100%;
			border-right: 0.5px dashed #395e66;
		}
	}
}

.bcg-cover {
	height:100vh;
	background-image:linear-gradient(to top, white 0%, transparent 35%), @header-background;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    overflow: hidden;
    .navbar-header {
        margin-right:22px;
    }
	.navbar {
		padding-top: 60px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;
        .navbar-brand {
            font-size: 1.375em;
            font-weight: 300;
            color: #575757;
        }
		li {
			font-size: 0.875em;
            color: #575757;
            a {
            padding: 5px 33px;
             transition: background-color .3s ease, color .3s ease  
            }
			a:hover {
			background-color: #395e66;
    		color: #fff;
			}
		}
		i{
			font-size: 1em;
		}
	}
	@media screen and (max-width: 767px) {
        .header {
            position: absolute;
            right: 0;
            left: 0;
        }
        .navbar {
		position: relative;
		padding-top: 15px;
		}
	}

	.centered {
		.all-center;
		justify-content:center;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		.hero-caption {
			max-width: 820px;
			box-sizing: border-box;
			h1 {
				font-size: 2.25em;
                color: #454546;
			}
			p {
				color:@p-color;
				font-size: 0.8em;
				margin: 32px 0px 60px;
                font-weight: 300;
                letter-spacing: 0.3em;
			}
			.form-inline {
				.all-center;
				justify-content:space-around;
				position: relative;
				flex-wrap:wrap;
				background-color: #fff;
				border-radius: 3px;
				padding: 40px 20px;
                min-height: 130px;
                width: 730px;
				.form-group {
					max-width: 250px;
				}
				.form-control {
					display: inline-block;
					min-width: 250px;
					font-size: 0.875em;
					background-color: @form-bc-color;
					border:none;
					border-radius: 1px;
				}
                .btn-default {
                    margin: 0;
                    width:150px;
                    height: 50px;
                }
			}
                            @media screen and (max-width: 767px) {
                    .form-inline {
                        width: 100%;
                        flex-direction: column;
                        
                    }
                    .form-group {
                        width: 100%;
                        margin: 10px 20px;
                    }
                    .form-control{
                        width: 100%;
                        margin: 0;
                    }
                    .btn-default {
                        width:150px;
                        margin: 0 20px;
                    }
                }
		}
	}	
}


@media screen and (max-width: 767px) {
	#navbar {
		display: none;
    }
}

@media screen and (min-width: 768px) {
	header {
		display: none;
	}
}



.padd {
	background-color: #fff;
	width: 100%;
	padding: 100px 0;
		.thumbnail{
			border:none;
			max-width: 300px;
			margin: 0 auto;
		}
    .caption{
        padding: 0;
    }
		h3 {
			font-size: 1em;
			font-weight: 700;
			color: #454546;
		}
		p {
			font-size: 0.875em;
			word-wrap:break-word;
            color: #727272;
		}
		.image-wrapper {
			width: 50px;
			display: block;
			margin: 0 auto;
		}
}

.bcg-video {
	background-image:url(../images/video-preview.jpg) ; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 620px;
	display: flex;
    align-items: center;
    justify-content: space-around;
    button {
        box-sizing: border-box;
    	position: relative;
    	background-color: transparent;
    	border-color: #fff;
    	border-radius: 15px;
    	margin: 10px;
    	transform: rotate(45deg);
    	width: 75px;
    	height: 75px; 
    	transition:background-color .1s ease-in, border .1s ease-in;
    	i {
    		position: absolute;
    		transform:rotate(-45deg);
    		top: 20px;
		    left: 30px;
		    font-size: 1.3em;
    	}
    }
    button:hover {
        box-sizing: border-box;
        border: @brand-primary;
    	background-color: rgba(57, 94, 102,0.5)
    }

	h2 {
		text-transform: uppercase;
		color: #e0e0e0;
		font-weight: 700;
		font-size: 1.625em;
	}
	p {
		color: #e0e0e0;
		font-size: 1em;
	}
}

.modal-body {
	box-sizing: border-box;
	padding: 0;
	video {
		vertical-align: middle;
	}
}
.row-slider {
	margin: 100px 0 175px;
}


.tesimonials {
	background-color: #fff;
	width: 100%;
	padding: 100px 0;
}
.carousel {
	.item {
		margin: 0 auto;
		max-width: 640px;
		color:#7c7b7b;
		font-size: 1em;
		line-height: 2em;
		letter-spacing: 0.05em;
		.client {
            position: relative;
			.all-center;
			justify-content:space-around;
			flex-flow:column;
			margin:0 auto;
            width: 50%;
            z-index: 800;
			.photo {
                position: relative;
				display: block;
				width: 70px;
				height: 70px;
				border-radius: 35px;
				background-color: #d1d1d1;
				//overflow: hidden;
				img {
					display: block;
					height: inherit;
                    width: inherit;
                    border-radius: 50%;
				}
			}
            .photo:before {
                position: absolute;
                content: open-quote; 
                color: #fff;
                text-transform: italic; 
                font-size: 26px;
                font-weight: bold;
                background-color: black;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                z-index: 999;
                top: -5px;
                left: -5px;
                border: 3px solid #fff;
            }
			.name {
				text-transform: uppercase;
				font-weight: 700;
				color:#454546;
				margin: 20px 0px;
			}
			.profession {
				font-size: 0.875em;
				color: #454546;
			}
		}
	}
	.carousel-indicators{
		bottom: -40px;
		li {
			background-color: #ebebee;
		}
		.active {
			background-color: #b5b5b5;
		}
	}
    .glyphicon-chevron-right,.glyphicon-chevron-left {
        color: #1d2727;
    }
}

.our-team {
	background-color: #fafafa;
	width: 100%;
	padding: 100px 0;
	.team {
        .all-center;
		flex-wrap:wrap;
		justify-content:space-between;
		.thumbnail {
			background-color: transparent;
			border:none;
			.all-center;
			flex-flow:column;
			justify-content:space-around;
			text-decoration: none;
			.teammate {
				.all-center;
				flex-flow:column;
				justify-content:space-around;
				text-decoration: none;
				.photo {
					display: block;
					background-color: #d9dcde;
					width: 230px;
					height: 240px;
					overflow: hidden;
					cursor: pointer;
					img {
						display: inline-block;
						text-align: center;
						width: 100%;
						height: 100%;
						margin: 0 auto;
						transition:transform .2s ease-in;
					}
				}
				.photo:hover img {
					transform: scale(1.2);
				}
				.name {
					text-transform: uppercase;
					color:#454546;
					margin: 20px 0px;
                    font-size: 0.875em;
                    font-weight: 700;
				}
				.profession {
					font-size: 0.875em;
					color: #454546;
				}
			}
		}
	}
}

.gallery {
	background-color: #fff;
	width: 100%;
	padding: 100px 0px;
	.gallery-structure {
		width: 100%;
		height: 885px;
        padding: 0;
        .flex-gallery {
            .all-center;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            .sect1 {
                .all-center;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 570px;
                width: 100%;
                .first-img {
                    box-sizing: border-box;
                    height: 100%;
                    width: 49.5%;
                    max-height: 570px;
                    max-width: 530px;
                    background-image:url(../images/video-preview.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .all-center;
                    justify-content: center;
                    .some-text {
                        font-family:'Eternal';
                        color: #fff;
                        font-weight: 300;
                        font-size: 2em;
                    }
                    
                }
                .first-img:before {
                    content: "Magnetic";
                    font-family:'Eternal';
                    vertical-align: middle;
                    color: #fff;
                    text-align: center;
                    font-weight: 500;
                    font-size: 20px;
                    .all-center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    opacity: 0.3;
                    transition: height 0.5s ease,color 3s ease;
                }
                .first-img:hover:before {
                    height: 0px;
                    color: transparent;
                }
                
                .ghgh {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 49.5%;
                    height: 570px;
                    .second-img {
                        box-sizing: border-box;
                        width: 100%;
                        height: 50%;
                        max-height: 270px;
                        max-width: 530px;
                        background-image:url(../images/video-preview.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .third-img {
                        box-sizing: border-box;
                        width: 100%;
                        height: 50%;
                        max-height: 270px;
                        max-width: 530px;
                        background-image:url(../images/video-preview.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
            .fourth-img {
                box-sizing: border-box;
                width: 100%;
                height: 270px;
                background-image:url(../images/video-preview.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
	}
}


.prices {
	padding: 100px 0;
	background-color: #fafafa;
	.pricig-section {
		.all-center;
		flex-wrap:wrap;
		justify-content:space-between;
		width: 100%;
		min-height:590px;
		.tabs {
			box-shadow:0px 0px 20px 0px rgba(50, 50, 50, 0.5);
			position: relative;
			background-color: #fff;
			z-index: 400;
			.all-center;
			flex-flow:column;
			justify-content:center;
			border:5px solid #e2e2e2;
			border-radius: 3px;
			box-sizing: border-box;
			max-width: 312px;
			min-height: 590px;
			margin: 25px auto;
			transition:border .3s;
			h4{
				margin-top:55px; 
			}
			.price {
				text-align: center;
				padding: 0;
				li {
					font-size: 0.875em;
					list-style: none;
					color: #696868;
					line-height: 2.5em;
                    font-weight: 500;
					.btn-default {
                        background-color: #fff;
                        color: @brand-primary;
                        border: 2px solid @brand-primary;
                        width: 100%;
						margin: 50px 0;
                        border-radius: 2px;
                        transition:color 0.3s ease, background-color 0.3s ease;
					}
                    .btn-default:hover {
                        background-color: @brand-primary;
                        color: #fff;
                    }
				}
				.header {
					color:#5f5f5f;
					font-size: 1.125em;
					font-weight: 600;

				}
				.nope {
					text-decoration: line-through;
					color: #abaaaa;
					font-weight: 300;
				}
			}

		}
		.star {
			z-index: 500;
			display: none;
			width: 40px;
			height: 40px;
			background-color: #f9e074;
			position: absolute;
			top: 0px;
			right: 40px;
			text-align: center;
			transition:display .3s;
			i {
				margin-top: 5px;
				font-size: 1.5em;
				color: #fff;
			}
		}
		.tabs:hover {
			box-sizing: border-box;
			position: relative;
			border:5px solid #f9e074;
            border-radius: 2px;
		}
		
		.tabs:hover .star {
			display: block;
		}
	}
}

.get-it {
	background-color: #fff;
	width: 100%;
	padding: 100px 0;
    a {
        margin-top: 20px;
        color:#5f5f5f;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        font-weight: 300;
        padding-bottom: 1px;
        text-decoration: underline;
        opacity: 0.7;
        transition: opacity 0.2s ease;
    }
    a:hover {
        opacity: 1;
    }
}

.projects {
	background-color: #fafafa;
	width: 100%;
	padding: 100px 0;
	.thumbnail {
		display: block;
		width: 230px;
		margin: 10px auto;
		text-decoration: none;
		border:none;
		background-color: transparent;
		.project {
			text-align: left;
			display: block;
			width: 100%;
			margin-bottom: 40px;
			.company {
				text-transform: uppercase;
				color: #2d4e55;
				font-weight: 600;
				font-size: 1.125em;
				text-align: left;
			}
			.done {
				color: #9f9f9f;
				font-weight: 300;
				font-size: 0.875em;
				text-align: left;
			}
		}
		.preview {
			display: block;
			width: 100%;
			height: 230px;
			background-color: #d1d1d1;
			overflow: hidden;
			img {
				width: auto;
				height: 100%;
                transition: transform .2s ease;
			}
            img:hover {
                transform: scale(1.2);
            }
		}	 
    }
}

.our-clients {
	background-color: #fff;
	width: 100%;
	padding: 100px 0;
	.company {
		.all-center;
		justify-content:space-around;
		flex-wrap:wrap;
		.logo-wrapper {
			margin: 15px;
			box-sizing: border-box;
			border: 3px solid #eae9e9;
			display: block;
			width: 230px;
			height: 90px;
            transition: transform .2s ease;
            cursor: pointer;
			.all-center;
			justify-content:space-around;
			img {
				//correct size later
			}
		}
        .logo-wrapper:hover {
            transform: scale(1.1);
        }
	}
}

.subscribe {
	background-color: #FAFAFA;
	width: 100%;
	padding: 100px 0;
	.centered {
		.all-center;
		justify-content:center;
		.form-group {
			display: inline-block;
			margin: 0 auto;
			width: 100%;
			.input-group {
				margin-top: 56px;
				//width: 455px;//временная растопырка
			    height: 56px;
			    background: #fff;
			    border-radius: 3px;
			    border: 2px solid #efefef;
			    box-sizing: border-box;
			    display: flex;
			    justify-content: space-between;
			    padding: 5px;
			    .btn-lg {
                    text-align: left;
			    	padding: 10px 16px;
				    width: 70%;
				    font-size: 0.875em;
				    line-height: 1.33;
				    border-radius: 6px;
			    }
			    .btn-default {
				    font-weight: 600;
				    width: 120px;
				    height: 100%;
				    margin: 0;
				    font-size: .875em;
				    border-radius: 3px;
				    color: #fff;
				    background-color: #395e66;
				    transition: border 0.3s, color 0.3s, background-color 0.3s;
				}
                .btn-default:hover {
                    color: #395e66;
                    background-color: #fff;
                }
			}
		}
	}
}

.contact-form {
	padding: 100px 0;
	min-height:500px;
	background-image:url(../images/map.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	.form {
		.all-center;
		justify-content:space-between;
		flex-flow:column;
		flex-wrap:wrap;
		background-color: #fff;
		max-width:550px;
		min-height:500px;
		padding: 35px;
        input::placeholder, textarea::placeholder {
            color: #b5b3b3;
        }
		input, textarea, .block {
			display: inline-block;
			height: 55px;
			padding: 18px;
			margin: 15px;
            box-sizing: border-box;
            border: 2px solid #efefef;
            border-radius: 1px;
		}
        .block {
            border: none;
        }
		.name-email {
			.all-center;
			justify-content:space-between;
			flex-wrap:wrap;
			width: 100%;
			input {
				width: 210px;
                height: 60px;
				margin: 15px auto;
			}
            .name {
                margin-left:0px;
            }
            .email {
                margin-right:0px;
            }  
		}
        @media screen and (max-width: 767px) {
        .name-email {
            display: block;
            input {
                width: 100%;
            }
        }
            } 
		.subject {
			width: 100%;
		}
		textarea {
			resize:none;
			width: 100%;
			min-height: 145px;
		}
		.block {
			padding: 0;
			width: 100%;
			height: 50px;
			.btn-default {
				margin: 0 30px 0 0;
				width: 150px;
				height: 50px;
				border-radius: 3px;
			}
		}
	}
}

.footer {
	width: 100%;
	padding: 100px 0 0 0;
	background-color:@brand-primary;
	color: #fff;
	font-size: 0.875em;
	.dot {
		margin: 2px;
		span {
			display: inline-block;
			margin: 1px;
			width: 1px;
			height: 1px;
			background-color: #96a6aa;
		}
	}
    @media screen and (max-width: 767px) {
        .dot {
            span:nth-child(2n) {
                display: none;
            }
        }
    }
	.thumbnail {
		display: block;
		width: 230px;
		margin: 10px auto;
		text-decoration: none;
		border:none;
		background-color: transparent;
		h4 {
			font-weight: 700;
			font-size: 1em;
		}
		p {
			line-height: 3em;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
		ul {
			padding: 0;
				list-style: none;
			li {
				line-height: 3em;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin:0px 15px 5px 0px;
                .social {
                    color: @brand-primary;
                    background-color: #fff;
                    height: 30px;
                    width: 30px;
                    transition: background-color 0.3s ease;
                }
                .social:hover {
                     background-color: darken(#fff, 10%);
                }
			}
		}	
	}

	.anchor {
		font-size: 1em;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
        border-bottom: 1px solid transparent;
        padding-bottom: 4px;
        transition: border-bottom .3s ease;
        i {
            font-weight: 100;
        }
	}
    .anchor:hover {
        border-bottom: 1px solid #fff;
    }
}

@media screen and (min-width: 2560px) {
     body {
     	font-size: 24px;
     }
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}



