/*шрифт страницы*/
@brand-font:'Raleway',sans-serif;
/*фон страницы*/
@body-bg:#fff;
/*специфический зеленый фон данного дизайна*/
@brand-primary:#395e66;
/*фон панелей*/
@panel-bg:#727272;
/*убираем скругление у блоков*/
@border-radius-base:0;
/*первичные кнопки имеют зеленый фон*/
@btn-primary-bg:#395e66;
/*если ширина экрана больше 1000px, то ширина контейнера 1000px*/
@container-md:1160px;
/*если ширина экрана больше 1000px, то ширина контейнера 1000px*/
@container-sm:992px;
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
@container-lg:@container-md; 
/*основным шрифтом будет Raleway*/
@font-family-base:'Raleway', sans-serif;
/*задаем базовый размер*/
@font-size-base:16px; 
/*основной цвет текста на странице*/
@text-color: #395e66;
/*серый фон текстовых полей*/
@input-bg:@panel-bg;
/*серый цвет текста в полях*/
@input-color:#727272;
/*колиество гридов*/
@grid-columns:24;
/*высота навигационного меню*/
@navbar-height:30px;
/*задаем  побольше горизонтальный отступ*/
@nav-link-padding:5px 22px;
/*фон для пунктов меню*/
@navbar-default-bg:transparent;
/*цвет текста в пунктах меню*/
@navbar-default-link-color:#575757;
/*и при наведении мышки – такой же*/
@navbar-default-link-hover-color:@navbar-default-link-color;
/*фон активного пункта меню – наш специфический голубой цвет*/
@navbar-default-link-active-bg:@brand-primary;
/*цвет текста активного пункта меню*/
@navbar-default-link-active-color:#fff;
/*фон header*/
@header-background:url('../images/bg.jpg');
/*цвет шрифта абзацев*/
@p-color:#7c7b7b;
/*цвет фона форм*/
@form-bc-color:#f0f0f0;
